textarea {
   resize: none;
}

.topic {
	border: 3px solid #5E96CF;
}
   
.reply {
	margin-left: 0;
	padding-left: 50px;
}
   
.replyview {
	display: none;
}
   
.replylink {
	color: #647585;
	text-decoration: underline;
}

.view_comments {
	color: #647585;
	text-decoration: underline;
}

.urllink {
	color: #647585;
	text-decoration: underline;
}
   
.submitlink {
	color: blue;
	text-decoration: underline;
}

.submittopic {
	color: blue;
	text-decoration: underline;
}

.topictitle {
	font-weight: bold;
}    

.topicview {
	display: none;
}

.topic_header {
	background-color: #E0FFF0;
	overflow: hidden;
}

.vote {
	float:left;
}

.topic_votes {
	float:left;
}

.newtopic {
	border: 3px solid #5E96CF;
}

.reply_text {
	width:100%;
	overflow:auto;
}
